.toDoList div {
  height: 30%;
  margin: 1vh 0 1vw 0;
  position: relative;
  margin-bottom: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.difficulty {
  position: absolute;
  /* bottom: 0px; */
  right: -10px;
}
